<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>My todo app</h1>

    <form action="/todo" method="POST">
      Todo: <input name="todo" type="text" />

      <input type="submit" value="Add" />
    </form>

    <ul>
      <% todos.forEach( item=> { %>
      <li>
        <%= item.name %>
      </li>
      <% }); %>
    </ul>

    <!-- <form action="/deleteAll" method="DEL">
    <input type="submit" value="Delete All" />
  </form> -->

    <input id="deleteBtn" type="submit" value="Delete All" />

    <script src="js/script.js" type="text/javascript"></script>
  </body>
</html>
